// Fonts
$header-font: "Spectral", serif;
$font: "Ubuntu", sans-serif;
$logo-font: "Pacifico", cursive;

// Colors
$blue: #377FEA;
$purple: #710B79;
$teal: #00C5DE;
$pink: #C901A1;
$orange: #F88810;
$navy: #253267;
$white: rgb(255, 255, 255);

// Styles
.banner-container {
  color: $white;
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
  height: 80vh;

  @media (max-width: 568px) {
    flex-direction: column;
    align-items: center;
  }
  
  .image-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 45%;
    min-width: 45%;
    
    @media (max-width: 568px) {
      width: 100%;
      justify-content: center;
      
    }

    .top-center-img {
      width: 60%;
      max-width: 300px;
      border-radius: 50%;

      @media (max-width: 568px) {
        width: 60%
      }
      
    }
  }

  .blurb-container {
    font-family: $font;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: $white;
    width: 45%;
    max-width: 45%;
    min-width: 45%;
    margin: 0 25px;
    
    @media (max-width: 568px) {
      width: 60%;
      justify-content: space-around;
      align-items: center;
      margin-top: 20px;
      max-width: 90%
    }
    p {
      font-size: 1.125rem;
      text-align: left;
      @media (max-width: 568px) {
        text-align: center;
      }
    }
    .social-link-container {
      margin-top: 10px;
      height: 30px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      .social-icon {
        color: rgb(150, 150, 150);
        font-size: 2rem;
        margin-left: 20px;
        &:first-child {
          margin-left: 0;
        }
        &:hover {
          color: $pink;
          transition: all 300ms ease;
        }
      }
           
    
    }
    button {
      font-family: $logo-font;
      font-size: 1.2rem;
      margin: 10px 0;
      background-color: $orange;
      border: none;
      border-radius: 5px;
      padding: 5px 10px;
      &:hover {
        color: white;
        background-color: $pink;
        transition: all 300ms ease;
      }
      
    }
  }


  
}

