// Fonts
$header-font: "Helvetic neue", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
$font: "Ubuntu", sans-serif;
$logo-font: "Harlow Solid";

// Colors
$blue: #377fea;
$purple: #710b79;
$teal: #00c5de;
$pink: #c901a1;
$orange: #f88810;
$navy: #253267;
$white: rgb(255, 255, 255);

// Styles
.container {
  width: 1640px;
  min-width: 1640px;
  margin: 0 auto;
  @media (min-width: 320px) {
    width: 320px;
    min-width: 320px;
  }
  @media (min-width: 568px) {
    width: 540px;
    min-width: 540px;
  }
  @media (min-width: 768px) {
    width: 768px;
    min-width: 768px;
  }
  @media (min-width: 1024px) {
    width: 768px;
    min-width: 768px;
  }
  @media (min-width: 1280px) {
    width: 1024px;
    min-width: 1024px;
  }
  @media (min-width: 1440px) {
    width: 1280px;
    min-width: 1280px;
  }
}

//Header
header {
  background-image: linear-gradient($navy 75%, rgba(255, 255, 255, 0));
  height: 80px;
  width: 100%;
  position: fixed;
  top: 0px;
  padding-bottom: 25px;
  .inner-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    .logo {
      font-family: $logo-font;
      margin: 0;
      font-weight: 900;
      font-size: 5rem;
      letter-spacing: 1.5px;
      color: white;
      

      @media (max-width: 320px) {
        font-size: 3rem;
      }
      @media (max-width: 569px) {
        font-size: 4rem;
      }
      a {
        text-decoration: none;
        color: white;
        &:hover {
          color: $teal;
          transition: all 300ms ease;
          -webkit-transition: all 300ms ease;
        }
      }
    }
    .desktop-navigation {
      nav {
        a {
          margin: 0 10px;
          font-weight: 700;
          font-size: 1rem;
          text-decoration: none;
          text-transform: uppercase;
          letter-spacing: 1.5px;
          color: rgb(185, 185, 185);
          &:last-child {
            margin-right: 0px;
          }
          &:hover {
            color: $teal;
            transition: all 300ms ease;
            -webkit-transition: all 300ms ease;
          }
          @media (min-width: 568px) {
            font-size: 0.6rem;
          }
          @media (min-width: 768px) {
            font-size: 0.8rem;
          }
          @media (min-width: 1024px) {
            font-size: 1rem;
          }
        }
      }
      
      @media (max-width: 568px) {
        display: none;
      }
    }
    .mobile-navigation {
      .hamburger-btn {
        
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 3rem;
        background: transparent;
        border: none;
        outline: none;
        padding: 10px;
        border-radius: 10px;
        margin-right: 50px;
        &:hover {
          cursor: pointer;
          .top-line{
            background-color: $orange;
            transition: all 300ms ease;
            -webkit-transition: all 300ms ease-out;
          }
          .middle-line{
            background-color: $purple;
            transition: all 300ms ease;
            -webkit-transition: all 300ms ease-out;
          }
          .bottom-line{
            background-color: $teal ;
            transition: all 500ms ease;
            -webkit-transition: all 500ms ease-out;
          }
        }
      
        div {
          width: 1.5rem;
          height: 0.25rem;
          background: white;
          border-radius: 2.5px;
          transform-origin: -0.5px;
          position: relative;
          margin: 0;
          padding: 0;
          transition: opacity 300ms, transform 300ms;
        }
      }

      .nav-links {
        position: absolute;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        text-align: center;
        height: 150px;
        width: 105%;
        top: 80px;
        right: 0;
        background-image: linear-gradient($navy, $purple);
        transition: all 300ms ease;
        -webkit-transition: all 300ms ease;

        ul {
          list-style-type: none;
        }
        li {
          margin: 1rem 0;
        }
        a {
          text-decoration: none;
          color: white;
          font-size: 1rem;
          font-weight: 700;
          text-transform: uppercase;
          &:hover {
            color: $blue;
            transition: all 300ms ease;
            -webkit-transition: all 300ms ease;
          }
        }
      }
      @media (min-width: 569px) {
        display: none;
      }
    }
  }
}
